@import url('../color.css');
.form{
    height: 400px;
    width: 350px;
    background: var(--c3);
    border-radius: 10px;
    border: solid 2px black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px 50px;
    margin-top: 20px;
}
.formField{
    height: 30px;
    border-radius: 5px;
    border: none;
}
.divFormField{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonForm{
    width: 50%;
    height: 35px;
    border-radius: 10px;
    background: var(--c1);
    color: white;
    align-self: center;
}
.buttonForm:hover{
    cursor: pointer;
    background: black;
    color: var(--c4);
}