@import url('../color.css');

.contentItem {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--c5);
    position: relative;
    list-style: circle;
    color: var(--c4);
}

.contentItem h3{
    text-transform: uppercase;
}

.contentItem h5 {
    background: var(--c5);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--stand);
}
.contentItem h4, .contentItem p{
    color: var(--stand);
}
