@import url('../color.css');
#home{
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    place-items: center;
}
.homecontainer{
    display: grid;
    gap: 35px;
}
.homecontainerTexto{
    font-size: 72px;
}
.homecontainerTexto--button{
    color: var(--stand);
    background: var(--c3);
    border-radius: 10px;
    border: solid 3px var(--stand);
}
span{
    color: var(--c4);
}
.home-img{
    filter: grayscale(100%) drop-shadow(0px 0px 10px var(--c3));
    border-radius: 500px;
}

@media (max-width: 1023px){
    #home{
        height: 150vh;
    }
}
