@import url('../color.css');
.homecontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
    display: grid;
    gap: 35px;
}
.homecontainerTexto{
    font-size: 72px;
}
.homecontainerTexto--button{
    color: var(--stand);
    background: var(--c3);
    border-radius: 10px;
    border: solid 3px var(--stand);
}
span{
    color: var(--c4);
}
