@import url(../color.css);


.menu{
    position: fixed;
    width: 100%;
    background: var(--c1);
    opacity: 0.7;
    font-size: medium;
    z-index: 10;
}
.menuLogo::first-letter{
    color: var(--c4);
}
.menuLogo > span{
    color: var(--c5);
}
.menuLista{
}
.nav-link{
    color: var(--stand);
    text-transform: uppercase;
}
.nav-link.active{
    color: var(--c5);
}
.navbar-nav > .menuItem.active{
    color: var(--c5);
}
.menuItem:hover{
    border-radius: 5px;
    border: 1px solid var(--c4);
    cursor: pointer;
}
.navbar-toggler{
    padding: 0px;
    margin: 0px;
}
.m{
    cursor: pointer;
}
.icon{
    height: 10px;
    width: 10px;
}

@media (max-width: 1023px){
    .menu.active{
        opacity: 1;
        align-items: flex-start;
        justify-content: center;
    }
    .menu.active .menuLista{
        align-items: center;
    }
    .menu.active .menuLista .menuItem{
        padding: 15px 10px;
    }
    #m-check {
        display: none;
    }
    .label{
        cursor: pointer;
    }
    .stop, #menuDropdown1, #menuDropdown2, #menuDropdown3 {
        width: 40px;
        height: 7px;
        transition: 0.3s;
        background-color: var(--c4);
        border-radius: 3px;
        cursor: pointer;
    }
    #menuDropdown2{
        margin: 7px 0;
        transition-delay: 0.3s;
    }
    #m-check:checked + label div:nth-child(2){
        width: 0;
        height: 0;
        margin: -7px 10px;
        transition-delay: 0s;
    }
    #m-check:checked + label div:first-child{
        transform: rotate(45deg);
        background: var(--c5);
        transition-delay: 0.2s;
    }
    #m-check:checked + label div:last-child{
        transform: rotate(135deg);
        background: var(--c5);
        transition-delay: 0.2s;
    }
}
