@import url('estilo/base.css');
@import url('estilo/layout/menu.css');
@import url('estilo/layout/home.css');
@import url('estilo/layout/contato.css');
@import url('estilo/color.css');

body{
    color: var(--stand);
    background: var(--c2);
}
section{
    background: var(--c2);
    padding: 100px 0;
}
.sectionTitle{
    font-size: 40px;
    text-align: center;
    color: var(--c5);
    z-index: 2;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}
.contentDiv{
    border: solid 3px var(--c5);
    border-radius: 25px;
    background: var(--c1);
    z-index: 0;
}
.row{
    justify-content: center;
}
.contentDiv > span{
    position: absolute;
    color: var(--c4);
    opacity: 0.5;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,0);
    font-weight: 700;
    font-size: 52PX;
    text-transform: uppercase;
    line-height: 0;
}
.contentSection{
    display: grid;
    place-items: center;
}
footer{
    width: 100%;
    background: var(--c1);
}
.footer-icon{
    height: 10%;
    width: 10%;
}
