@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: white
}
li{
    list-style: none;
}
.bgCrimson{
	background: var(--c5);
}
.bgCyan{
	background: var(--c3);
}
.letraCrimson:hover{
	color: var(--c5);
}
.letraCyan:hover{
	color: var(--c4);
}
.letraC3{
	color: var(--c4)
}