:root{
    --c0: #000;
    --c1: #0e0b16;
    --c2: #262228;
    --c3: #0D7377;
    --c4: #14FFEC;
    --c5: crimson;
    --stand: #fff;
}

/* --c1: #022c43;
    --c2: #053f5e;
    --c3: #115173;
    --c4: #ffd700; 7 */

    /* --c1: #212121;
    --c2: #323232;
    --c3: #0D7377;
    --c4: #14FFEC; 8*/

    /* --c1: #222831;
    --c2: #393e46;
    --c3: #d65a31;
    --c4: #eee; 6*/

    /* --c1: #1b262c;
    --c2: #0f4c75;
    --c3: #3282b8;
    --c4: #bbe1fa; 3*/

    /* --c1: #142850;
    --c2: #27496d;
    --c3: #0c7b93;
    --c4: #00a8cc; 2*/

    /* --c1: #162447;
    --c2: #1f4068;
    --c3: #1b1b2f;
    --c4: #e43f5a; 1 */